<div id="detail-container">
    <div id="detail-title">
        <h1>{{hike.title}}</h1>
        <a href="#/edit/hike/{{hike.id}}">Edit Hike</a>
    </div>
    <div id="detail-carousel">
        <div id="carousel-container">
            <button class="carousel-button" id="carousel-prev">Previous</button>
            {{#each hike.images}}
                <div class="detail-carousel-item">
                    <img src="{{url}}">
                </div>            
            {{/each}}        
            <button class="carousel-button" id="carousel-next">Next</button>
        </div>     
        <div id="carousel-upload-container">
            <button id="carousel-upload-image-toggle">Add Image</button>
            <input id="carousel-upload-image" type="file"/>   
        </div>        
    </div>
    <div id="detail-stats"></div>
    <div id="detail-map"></div>
    <div id="detail-description">
        {{#each hike.description.paragraphs}}
            <p>{{text}}</p>
        {{/each}}        
    </div>
</div>