<a href="#/">
    <h3>Hikes Near You</h3>
</a>
<nav id="header-links">
    <ul id="header-links-list">
        <li id="header-link-create-hike" class="auth-only">
            <a href="#/edit/hike/new">Create Hike</a>
        </li>
        <li id="header-link-sign-in" class="unauth-only">
            <a href="#/sign-in">Sign In</a>
        </li>
        <li id="header-link-sign-out" class="auth-only">
            <span>Sign Out</span>
        </li>
    </ul>    
</nav>