<div id="main-hero">
    <img id="main-hero-image" src="img/trail.jpg"/>
    <div id="main-hero-text">
        <h1 id="main-title">Hikes Near You</h1>
        <h3 id="main-subtitle">A collection of the best hikes in your neck of the woods.</h3>
    </div>    
</div>
<div id="main-content">
    <div id="main-search">
        <input type="search" placeholder="Type a hike here...">
    </div>
    <div id="hikes-table">
        {{{mainTable}}}    
    </div>    
</div>